/**
///////////////////////////////////////////////
reset css start from here
///////////////////////////////////////////////
**/

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
///////////////////////////////////////////////
reset css end here
///////////////////////////////////////////////
**/

/**
///////////////////////////////////////////////
magic padding display start from here
///////////////////////////////////////////////
**/

/* body * {
    background-image:
    linear-gradient(to bottom,
        rgba(240, 255, 40, 1) 0%,
        rgba(240, 255, 40, 1) 100%),
    linear-gradient(to bottom,
        rgba(240, 40, 40, 1) 0%,
        rgba(240, 40, 40, 1) 100%);
    background-clip: content-box, padding-box;
} */

/**
///////////////////////////////////////////////
magic padding display end here
///////////////////////////////////////////////
**/

body * {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.box {
    width: 48vw;
    height: 92vh;
    padding: 15px;
    border: 1px solid black;
}

.boxConteiner {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.randomNumbers {
    width: 100%;
    height: 70%;
    word-wrap: break-word;
}

.box__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}

.box__right {
    word-wrap: break-word;
}

.box__bottom > button {
    margin: 2px;
    height: 30px;
    color: white;
    background-color: #6395d6;
    border-radius: 15px;
    border: none;
}

.box__bottom > button:focus {
    outline: none;
}

.box__bottom > button {
    margin: 2px;
    height: 30px;
    color: white;
    background-color: #6395d6;
    border-radius: 15px;
    border: none;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.08);
    transition: box-shadow 0.2s ease-in-out;
}

.box__bottom > button:hover {
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
}
